*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    text-align:center;
}

.colorbackground{
  background-color: black;
}

.about-us{
    font-weight:bold;
    text-align:center;
    padding: 35px 0;
    font-size:60px;
    color:black; 
    opacity:0.6;
}

.about-us-image{
    background-image: url('./doctor.jpg');
    background-size: cover;
    height:180px;
    margin-top:50px;
}

.name{
    text-align:center;
    font-size:50px;
}

.image-div{
    color:rgb(238, 217, 26);
    position:relative;
    background-image: url('Healthcare.jpg');
    background-size: cover;
}

.content{
    width:70%;
    height:100%;
    position: relative;
    margin:50px auto;
    border: 1px solid black;
    border-radius: 6px;
    box-shadow: 0 0 10px 3px ;  
}

.aboutus-content{
    text-align: left;  
    margin: 10px 25px ;
    padding-bottom:20px;
    padding-right:40px;

}

.carousel-item h3,p{
    color:black;
    opacity:0.9;
} 


.carousel-item img{
    color: burlywood;
    opacity:0.;
}

footer{
     background-color: rgb(27, 23, 23);
     color:white;
     margin-top: 50px;
     padding:20px 0;
     text-align:center; 
     font-size:18px;
}

a, a:hover{
    text-decoration: none;
    color:rgb(19, 212, 180);
}

a:hover{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}