*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    text-align:center;
}
nav {
    background-color: #2e4453;
    box-shadow: 5px 6px 4px #446880;
}

.navbar-brand{
  letter-spacing: 3px;
  font-weight: 500;
}

 /* index */ 
table{
    width:100%;
    margin: auto ;
    border-collapse:separate; 
    border-spacing:15px 0px; 
}
th{
    padding: 15px 0px;
    padding-top:35px;
}
td{
    width:20%;
    margin:auto 0px;
    padding:10px 0px;
}

ul{
    list-style-type: none;
    margin-top: 10px;
}

li{
    font-weight: 700;
}

button{
    color: white;
    padding: 8px;   
    border-radius: 10px;
    background-color: #2e4453;
}

i{
    font-size:20px;
    padding-right:5px;
}
a:link{
    color: rgb(235, 165, 14);
    text-decoration:none;
}
  
a:visited, a:hover{
    color: rgb(235, 165, 14);
    text-decoration:none;
}

a:active.nav-link{
    border:1px solid white;
    border-radius:5px;
}

.dropdown-toggle{
    background-color: #2e4453;
}

.dropdown-item{
    background-color: #2e4453;  
}

.welcome-parallax{
        margin: 60px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        height:350px;
        background-image: url("../Images/welcomeMSG/tea.jpg");
        border-radius: 20px;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
}

#welcome-msg{
    font-size: 55px;
    margin: auto;
    color:white;
    font-family: 'Caveat', cursive;
}

.what-we-do{ 
    background-color:#c7c9c6 ;
    padding: 20px;
    margin: auto 0px;
}

.what-we-do-content{
    width: 100%;
    font-size: 22px;
    padding: 40px;
}

.drinks-img{
    width:200px;
    height: 200px;
}

.drink-type,.headings{
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 2px;
    padding-bottom:15px ;
    margin-bottom: 30px;
    border-bottom: 1px solid gray;
}

.drink-type{
    color:#2e4453;
}

.Testimonials{
    width:90%;
    margin:auto;
    margin-bottom:30px;
}

.Testimonials-images{
    width:200px;
    height:200px;
    border-radius:10px;
    border:10px solid #2e4453;
}

.Testimonials-content{
    padding-top:20px;
    font-size: 30px;
    font-weight: 400;
}

.partitions{
    margin-top:80px;
}

/* Login Signup */

.login-signup-body{
    background-image: url('../Images/login-signup-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align:right;
    color:white;
    font-size:16px;
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  .maindiv{
    background-color: #637f91;
    margin :auto ;
    margin-top:5%;
    position:relative;
    height:500px;
    padding:25px 20px;
    border-radius:15px;
  }
  
  #login-signup-div{
        background-color: #637f91;
        position: relative;
        margin:0;
        width: 100%;
        padding:20px 10px;
        font-size: 35px; 
        font-weight: bold;  
  }

  /* FOOTER */
footer{
    background-color: #627f92;
    padding-top:30px;
    padding-bottom:10px;
}

/* contact-us  about-us */
.contact{
    background-image:url("../Images/contact-us.jpeg");
}

.about{
    background-image:url("../Images/about-us.jpeg");
}
.contact,.about{
    width:90%;
    height:700px;
    margin:auto;
    margin-bottom: 100px;
    padding-top: 200px;
    background-size: cover;
    color:white;   
}

.about-heading{
    color:#2f556e;
}
.about-text{
    width: 100%;
    font-size: 18px;
    padding: 15px 25px;
    color:black;
}
.contact-text{  
    font-size:18px;
}

/* Products*/
#more{
    display: none;
}

/*cart*/
tr.ordered-item{
    width:100%;
    height:200px;
    border:2px solid gray;
    box-shadow: 5px 6px 4px rgb(190, 186, 186);
}

.ordered-img{
    height:130px;
    width:200px;
}

.cart-items{
    margin:auto;
}

img.my-account{
    width:100%;
    height:400px;
}
/* side nav*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
